:root {
    --primary: #121212;
    --secondary: hsl(212, 100%, 49%);
    --caution: red;
    --background: #f1f1f1;

    --font: 'Glory', sans-serif;
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary: #f1f1f1;
        --secondary: rgb(43, 174, 255);
        --caution: #ff9090;
        --background: #252525;
    }
}

html {
    box-sizing: border-box;
  }
  
*,
:before,
:after {
box-sizing: inherit;
}

body {
    background-color: var(--background);
    min-width: 340px;
    max-width: 340px;
    margin: 0;
    padding: 1rem;
    font-family: var(--font);
    font-weight: 700;
    font-size: 1rem;
    color: var(--primary);
}

a {
    width: 320px;
    white-space: none;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    color: var(--primary);
    transition: all 0.2s ease-in-out;
}

a:hover {
    text-decoration: underline;
    color: var(--secondary);
}


ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    width: 100%;
    margin-bottom: 8px;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    padding-bottom: 1rem;
}

.main-features {
    display: flex;
    gap: 1rem;
    width: 100%;
    transition: all 1s ease-in-out;
}

.more-features {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.6rem;
    width: 100%;
    margin-top: 0.7rem;
}

.input {
    display: flex;
    flex-grow: 1;
    gap: 1rem;
}

button,
input {
    background-color: transparent;
    border: 3px solid var(--primary);
    border-radius: 10px;
    padding: 8px 12px;
    font-family: var(--font);
    font-weight: 700;
    font-size: 1rem;
    color: var(--primary);
    transition: all 0.2s ease-in-out;
}

input {
    width: 230px;
}

input:hover,
input:focus {
    outline: none;
    border-color: var(--secondary);
    color: var(--secondary);
    cursor: pointer;
}

input:focus::placeholder {
    filter: opacity(40%);
    color: var(--secondary);
}

button:hover {
    border-color: var(--secondary);
    color: var(--secondary);
    cursor: pointer;
}

.surprise-btn-link {
    width: auto;
}

#save-tab-btn,
#surprise-btn {
    flex-grow: 1;
}

#surprise-btn {
    width: 145px;
}

#more-features-toggle {
    align-self: flex-end;
    margin-top: 5px;
}

#more-features-toggle:hover {
    color: var(--secondary);
    cursor: pointer;
}

#clear-btn {
    border-color: var(--caution);
    color: var(--caution);
}

#clear-btn:hover {
    background-color: var(--caution);
    color: var(--background);
}

.warning {
    color: var(--caution);
    opacity: 0;
    margin-right: 16px;
    transition: opacity 0.2s ease-in-out
}

.delete-container {
    position: relative;
    height: 16px;
}

.xbtn,
.delete-container > img {
    position: absolute;
}

.delete {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff9090;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    transition: all 0.2s ease-in-out;
}

.delete:before,
.delete:after {
    position: absolute;
    content: "";
    border: .9px solid rgb(107, 0, 0);
    width: 8px;
}

.delete:before {
    transform: rotate(-45deg);
}

.delete:after {
    transform: rotate(45deg);
}

.hidden {
    visibility: hidden;
}

.remove {
    display: none;
}

.hr {
    background-color: var(--primary);
    border-radius: 20px;
    height: 3px;
    width: 100%;
}